body{
    margin: 5%;
    background-color: gray;
}

/*Title's style*/

header{
    border-color: black;
    background-color: white;
    text-align: center;
    border-radius: 5px;

}

h1{
    font-style: italic;
}

/*Navigation's style*/

nav{
    background-color: beige;
    align-items: center;
}

 button{
    border-radius: 10px;
 }

.bt1{
    background-color: green;
 }

.bt2{
    background-color: red;
 }